.col-lg-6
.col-lg-6
  h1.h1 Test search
.row
  .col-lg-5
  .col-lg-4
    .search-field.input-group
      input id="searchtext" class="form-control" autofocus=true
      .input-validation.hidden
        = "Please provide some text"
      .input-group-btn
        button#searchbutton.btn.btn-small Search
br
ul#results.list-group

